# Semana03
Mg. Flor Cerdán León

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por teclado
    5. Operadores

2. Variables

In [1]:
# Siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro símbolo)

In [2]:
edad = 19

In [3]:
edad

19

In [4]:
nombre = "Flor"

In [5]:
nombre

'Flor'

In [6]:
apellido = " Cerdan leon"
apellido

' Cerdan leon'

In [8]:
nombrecompleto = nombre + apellido
nombrecompleto

'Flor Cerdan leon'

In [9]:
# Para saber el tipo de variable utilizamos la función type()
# Por ejemplo:

numero =50
type(numero)

int

In [10]:
type(nombre)

str

In [11]:
talla = 1.78
talla

1.78

In [12]:
type(talla)

float

In [14]:
# Para convertir un numero en cadena utilizamos str()

numero = 100
cadena = str(numero)
cadena

'100'

In [15]:
type(cadena)

str

In [16]:
# Para convertir una cadena en un entero utilizamos int()

cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [18]:
type(numero2)

int

In [19]:
# Para convertir una cadena a un decimal utilizamos float()

cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [20]:
type(numero2)

float